on:
  push:
    branches: ["*"]

name: Test, rustfmt, and Clippy

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-24.04

    permissions: write-all

    steps:
      - name: Cancel previous runs
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          access_token: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/checkout@v4.2.2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          submodules: recursive
      - uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: stable
      - uses: Swatinem/rust-cache@v2.7.5
      - run: sudo apt-get update -y
      - name: cargo check
        run: cargo check
      - name: run tests
        run: |
          cargo test --all-targets

  rustfmt:
    name: rustfmt
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4.2.2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          submodules: recursive
      - uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: stable
          components: rustfmt
      - run: |
          cargo fmt --check

  clippy:
    name: cargo clippy
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: stable
          components: clippy
      - uses: Swatinem/rust-cache@v2.7.5
      - name: clippy (all targets)
        run: cargo clippy --all-targets --
#        run: cargo clippy --all-targets -- -D warnings
