on:
  push:
    branches: ["*"]
  pull_request:

name: Test, rustfmt, and Clippy (64 bit)

jobs:
  test-64bit:
    name: Run tests
    runs-on: ${{ matrix.os }}

    permissions: write-all

    strategy:
      matrix:
        os: [ubuntu-24.04, macos-latest]
        rust:
          - stable
    steps:
      - name: Cancel previous runs
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          access_token: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/checkout@v4.2.2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          submodules: recursive
      - uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
      - uses: Swatinem/rust-cache@v2.7.5
      - run: sudo apt-get update -y
        if: matrix.os == 'ubuntu-24.04'
      - name: cargo check
        run: cargo check
      - name: run tests
        run: |
          cargo test --all-targets

  fmt:
    name: rustfmt
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4.2.2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          submodules: recursive
      - uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: stable
          components: rustfmt
      - run: |
          cargo fmt --check

  clippy:
    name: cargo clippy
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        rust:
          - stable
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          components: clippy
      - uses: Swatinem/rust-cache@v2.7.5
      - name: clippy (all targets)
        run: cargo clippy --all-targets --
#        run: cargo clippy --all-targets -- -D warnings
